
DecisionTrees/.ipynb_checkpoints/VT - hd - DT_clf v0.0-checkpoint.ipynb
DecisionTrees/.ipynb_checkpoints/EPC - DT_clf v0.0-checkpoint.ipynb
DecisionTrees/.ipynb_checkpoints/hdis - DT_clf v0.0-checkpoint.ipynb
DecisionTrees/.ipynb_checkpoints/iris - DT_clf v0.0-checkpoint.ipynb
DecisionTrees/.ipynb_checkpoints/SS - iris - DT_clf v0.0-checkpoint.ipynb
DecisionTrees/.ipynb_checkpoints/Untitled-checkpoint.ipynb
